<div class="header">
  <nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
    <div class="container">
      <div class="col-6 m-auto text-center">
        <div class="navbar-brand ">
          <a class="navbar-item has-text-centered "
            href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">
            <img
            src="{{site.baseurl}}/assets/images/builtinruby_logo.svg"
            alt="Gurzu menu"
            />
          </a>
        </div>
        <p class="text-center text-light header__text ">#BuiltinRuby is an inspiration resource showcasing totally rocking ruby app made by people from all over the world.</p>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  
</div>