<div class="header">
  <nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
    <div class="container">
      <div class="col-6 m-auto text-center">
        <div class="navbar-brand ">
          <a class="navbar-item has-text-centered "
            href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">
            <img
            src="{{site.baseurl}}/assets/images/builtwithRuby-logo.svg"
            alt="Built With Ruby"
            />
          </a>
        </div>
        {% if page.layout == 'default' %}
          <p class="text-center text-light header__text">#BuiltWithRuby is an inspiration resource showcasing totally rocking Ruby on Rails projects made by people from all over the world.</p>
        {% endif %}
      </div>
    </div>
  </nav>
</div>