<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
   
    </div>
  </div>
</section>
<div class="container">

  <div class="masonry ">
    <div class="masonry-item">
      <img src="
      {{base.url}}/assets/images/projects/project-1.jpg
      " alt="Masonry Brick #1" class="masonry-content">
      <div class="masonry-item-name p-3 bg-white font-weight-bold">
        Zapp Today
      </div>
    </div>
    <div class="masonry-item">
      <img src="
      {{base.url}}/assets/images/projects/project-2.jpg
      " alt="Masonry Brick #1" class="masonry-content">
      <div class="masonry-item-name p-3 bg-white font-weight-bold">
        DesignerEx
      </div>
    </div>
    <div class="masonry-item">
      <img src="
      {{base.url}}/assets/images/projects/project-3.jpg
      " alt="Masonry Brick #1" class="masonry-content">
      <div class="masonry-item-name p-3 bg-white font-weight-bold">
        Spectrpass
      </div>
    </div>
  </div>
</div>