---
---

@import "main.scss";
@import "variable.scss";
body{
  background-color: #FEF5F6;
}

#navbar {
    opacity: 0.95;
}

.is-active {
    font-weight: 600;
}
.header{
  background-color: #36000E;
  padding: 20px 0 150px 0;
  img {
    height: 86px;
  }
  &__text {
    color: #FFF3F4;
    font-weight: 24px;
    margin-top: 16px;
  }
}
:root {
  counter-reset: masonry;
}
.masonry {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  grid-auto-rows: min-content;
  margin-top: -120px;
}

.masonry-item {
  border-radius: 8px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px -3px 28px rgba(121, 28, 18, 0.1);
}

.masonry-item,
.masonry-item img {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.masonry-item:hover:after {
  font-size: 30px;
  background-color: rgba(0, 0, 0, .75);
}

.masonry-item-name{
  border-top: 1px solid #F4EDED;
  color: #36000E;
}

.btn-sm{
  border-radius: 50px;
  font-size: 13px;
  background-color: $brand-color;
}
