---
---

@import "main.scss";


#navbar {
    opacity: 0.95;
}

.is-active {
    font-weight: 600;
}
.header{
  background-color: #36000E;
  padding: 20px 0 50px 0;
  img {
    height: 86px;
  }
  &__text {
    color: #FFF3F4;
    font-weight: 24px;
    margin-top: 16px;
  }
}

.navbar-dropdown {
    border: none;
    right: 0;
    left: auto;
}

a.navbar-item:hover,
.navbar-link:hover {
    background-color: rgba($color: #fff, $alpha: 0.25) !important;
    color: white !important;
}

a.navbar-item.is-active {
    background-color: rgba($color: #fff, $alpha: 0.25) !important;
    color: white !important;

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.25) !important;
        color: grey;
    }
}

.navbar-link:not(.is-arrowless)::after {
    border-color: grey;
}
